<h1>Welcome, log in!</h1>
{{message}}

<form action="/" accept-charset="utf-8" method="post" >
   <label class="form-block">
   		<input type="text" name="username" placeholder="Username" size="50" required />
   <label>

   <label class="form-block">
   		<input type="password" name="password" placeholder="Password" size="50" required />	
   </label>

  <button>Log in</button>
  <br />
</form>

Dont have an account?<a href="/signup">Sign Up</a>


