<h1>Welcome, log in!</h1>

<form class="" action="" accept-charset="utf-8" method="post" >
   <input type="text" name="username" placeholder="Username" size="50" required />
  <br />
  <input type="password" name="password" placeholder="Password" size="50i" required />
  <br />
  <button>Log in</button>
</form>
