<h1>Login in to Gime</h1>

<form class="" action="login" accept-charset="utf-8" method="post" max length="1000">
   <input type="text" name="username" placeholder="Username" required />
  <br />
  <input type="password" name="password" placeholder="Password" required />
  <br />
  <button>Log in</button>
</form>