<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <header>
    
  </header>
<body>
  <main>
    <h1>Sign up</h1>
    <div>
      <form method="post" action="/signup" accept-charset="utf-8" max length="1000">
        <label class="form-block" >
        <input type="text" name="firstname" placeholder="First Name" required />
        <br />
        <input type="text" name="lastname" placeholder="Last Name" required />
        </label>
        <input type="email" name="email" placeholder="Email" required />
        <br />
        <input type="text" name="username" placeholder="Username" required />
        <br />
        <input type="password" name="password" placeholder="Choose a Password" required />
        <br />
        <input type="password" name="password_confirmation" placeholder="Confirm Password" required />
        <br />
        <input type="text" name="location" placeholder="City" />
        <br />
        <input type="month" name="bdaymonth">
        <br />
        <input type="radio" name="gender" value="male">Male<br />
        <input type="radio" name="gender" value="female">Female<br />
        <button>Sign Up</button>
      </form>
    </div>
  </main>
</body>
</html>
