<!DOCTYPE html>
<html>
	<head>
  	<title>{{{pageTitle}}}</title>
  	<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<header>
		<ul>
  			<li><a class="active"></a></li>
  			<li><a href="#giftsmasterlist">Gime Wishes</a></li>
  			<li><a href="#usersdirectory">Search</a></li>
  			<li><a href="#myprofile">Profile</a></li>
  			<li><a href="#home">Home</a></li>
		</ul>
	</header>

<body>

</body>
</html>
