<form method="post" action="login">
	<input type="text" name="fullname" placeholder="Name" />
	<br />
 	<input type="text" name="username" placeholder="Username" />
	<br />
	<input type="password" name="password" placeholder="Password" />
	<br />
 	<input type="text" name="location" placeholder="City" />
  <br />
  <input type="month" name="bdaymonth">
  <br />
  <input type="radio" name="gender" value="male">Male<br>
  <input type="radio" name="gender" value="female">Female<brz>
  <button>Sign Up!</button>
</form>