@blue: lightBlue;
@grey: grey;
@red: red;


body {
  background-image: url(https://images.unsplash.com/photo-1453834190665-46ff0a1fbd5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f1740ea71cff1e64b7c079cb9842ac0f);
  background-size: 1000px;
}

form {
  text-align: center;
  padding: 10px;
}

footer {
  text-align: left;
  color: opaque;
}
.images {
  display: inline-block;
}

.gift-image {
  display: inline-block;
  float: left;
  padding: 5px;
  width: 100px;
  object-fit: cover;
}

.site-footer {
  position: fixed;
  bottom: 0;
  height: 58px;
  width: 100%;
  background: darkGrey;
  margin: 0;
}

h1 {
  color: @red; 
	text-align: center;
  font-family: sans-serif;
  font-size: 48px;
  padding-top: 20px;
}

header {
  text-align: center;
  color:  @grey; 
}

img {
  float: left; 
  margin: 0 0 15px 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: @red;
}

.form-block {
  display: block;
  margin: 15px;
}

input[type=text], [type=email], [type=password], [type=month], select {
  width: 400px;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
button, select {
  width: 200px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
    background-color: @blue;
}

